.header{
    width: 100%; /* A barra ocupará toda a largura do contêiner que a envolve */
    height: 70px;
    background: #CADFFB;
    justify-content: left;
    margin-bottom: 0px;
    position: absolute;
    z-index: 4;
}
.header img {
    width: 75px;
    height: 75px;
    margin-top: -2px;
    margin-left: 20px;
    cursor: pointer;
}