.botao-meu-perfil{
    background-color: #5783BC; /*cor do botao*/
    color: #000;
    font-family: Graduate;
    cursor: pointer;
    border-radius: 22px;
    margin-bottom: 5px;
    font-weight: bold;
    align-items: center;
    width: 150px;
    height: 25px;
}