.caixa{
    margin: 0 auto;
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column; /* deixa as informações dentro da caixa em coluna */
    border-radius: 22px;
    width: 750px;
    height: 350px;
    top:-5px;
    left:135px;
    background-color: #CADFFB;
    font-family: Graduate;
    font-size: 25px;
}
.caixa::before {
    content: '';
    position: absolute;
    background-color: #3E5F8A;
    width: 825px;
    height: 425px; /* 75*/
    top: 25px;
    right: 25px;
    border-radius: 22px;
    z-index: -1;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    /* font-weight: bold; */
  }
  
  .informacoes div {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 6px;
  }
  
  .informacoes span {
    display: inline-block;
    width: 100%;
    flex: 1;
    border-bottom: 1px solid black; /* Estilo da borda*/
  }
