.cadastro {
    cursor: pointer;
    color: blue; 
    text-decoration: underline;
    text-align: right; 
    margin-right: 15px;
    font-size:12px ;
    margin-top: 10px;
}

.desativa {
    cursor: pointer;
    color: rgb(0, 0, 0); 
    text-decoration: underline;
    text-align: right; 
    margin-right: 15px;
    font-size:14px ;
    margin-top: -330px;
}

