.janela-modal {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index:999;
}

.modal {
    background-color: #fff;
    min-width: 450px;
    min-height: 200px;
    backdrop-filter: blur(10px);
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.janela-modal.abrir{
    display:flex;
}