.form-container{
    width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 40px;
    border-radius: 22px;
    height: 30px;
    top:-5px;
    background-color: #CADFFB;
    margin-bottom: 65px;
}

.fundo{
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner-jogo{
    position: relative;
    width:245px;
    margin: 0 80px;
    position: relative;
    border-radius: 22px;
    height: 360px;
    top:-5px;
    background-color: #3E5F8A;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
}

.capa-jogo{
    margin-top: 20px;
    width:220px;
    height: 210px;
    border-radius: 22px;

}

.botao1 [type="button"]{
    background-color: #006EFD; /*cor do botao*/
    color: #000;
    font-family: Graduate;
    cursor: pointer;
    border-radius: 33px;
    margin-bottom: 40px;
    margin-top: 55px;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border: none;
}

.botao2 [type="button"]{
    background-color: #EF1C1C; /*cor do botao*/
    color: #000;
    font-family: Graduate;
    cursor: pointer;
    border-radius: 33px;
    margin-bottom: 40px;
    margin-top: 55px;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border: none;
}

.botao3 [type="button"]{
    background-color: #FFF500; /*cor do botao*/
    color: #000;
    font-family: Graduate;
    cursor: pointer;
    border-radius: 33px;
    margin-bottom: 40px;
    margin-top: 55px;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border: none;
}
.informacoes {
    display: flex;
    flex-direction: row; 
    font-size: 20px;
    border-right: 500px;
}

.informacoes div {
    margin-right: 120px;
}